.edit-pane {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #001B2C;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #001B2C;
    -fx-alignment: center;
}

.save-button {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.save-button:hover {
    -fx-background-color: #006600;
}

.cancel-button {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.cancel-button:hover {
    -fx-background-color: #CC0000;
}
